.Item {
    margin: 10px;
}

.vscode-dark .Item {
    margin: 10px;
    background: #0000005c;
}

.vscode-light .Item {
    margin: 10px;
    background: #ffffff5c;
    color: #333;
}

.avatar {
    border-radius: 50%;
    margin: 0 3px;
}

.CardActions {
    margin-left: 10px;
    color: #333 !important;
}

.CardActions > span {
    padding-right: 10px;
}

.chip {
    margin-right: 10px;
    color: #999 !important;
}

.vscode-dark .CardActions {
    color: #fff;
}

.vscode-light .CardActions {
    color: #333;
}
